/*Downloaded from https://www.codeseek.co/ovdojoey/css-gift-opening-pgozGX */
html, body {
    margin: 0;
    background-color: #31343d;
    /* background-color: #111240; */
    
  }
  
  .above-fold {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
            perspective-origin: 50% 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .above-fold .info-text {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 25px;
    align-self: flex-end;
  }
  
  .wrap-present {
    width: 100%;
    display: flex;
    align-self: flex-end;
  }
  
  .present-box {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    -webkit-animation: rotate 11s alternate linear infinite;
            animation: rotate 11s alternate linear infinite;
    cursor: pointer;
  }
  .present-box:hover {
    -webkit-animation: staticFront 700ms ease forwards;
            animation: staticFront 700ms ease forwards;
  }
  .present-box.open {
    /*&>.side.top{
        opacity: .2;
    }*/
    -webkit-animation: zoomIn 1s ease-in forwards;
            animation: zoomIn 1s ease-in forwards;
    -webkit-transform: rotateX(-103deg) rotateY(-180deg);
            transform: rotateX(-103deg) rotateY(-180deg);
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .present-box.open .present {
    pointer-events: auto;
    visibility: visible;
  }

  .img-wrap{
      opacity: 0;
      
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    
    width:100%;
    text-align:center; 
  }

  .img-wrap img{
    width: calc(100% / 5);  
    display: inline-block;
    vertical-align: top;   
    text-align:center;
    margin:2%;    
    transition: transform 300ms;
    max-width: 250px;
  }

  .img-wrap.open {
    opacity: 1;
    transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
    transition: transform 600ms 800ms, opacity 800ms 200ms;
    transition: transform 600ms 800ms, opacity 800ms 200ms, -webkit-transform 600ms 800ms;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);

            
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .present-box.open > .side {
    opacity: .3;
    transition: opacity 500ms 600ms;
  }
  .present-box.open > .side.back {
    opacity: 0.7;
    -webkit-transform: translateZ(-101px) rotateY(180deg);
            transform: translateZ(-101px) rotateY(180deg);
  }
  .present-box.open > .side.front {
    transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
    transition: transform 800ms 0s, opacity 500ms 600ms;
    transition: transform 800ms 0s, opacity 500ms 600ms, -webkit-transform 800ms 0s;
    -webkit-transform: translateZ(100px) rotateY(-190deg) translateX(0px);
            transform: translateZ(100px) rotateY(-190deg) translateX(0px);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 0.3;
  }
  
  #present-image img{
    pointer-events: none;
    cursor: default;
  }

  #present-image.open img{
    
    pointer-events: auto;
    cursor: pointer;
  }

  .present-box .present {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 50;
    -webkit-transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
            transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
    display: flex;
    -webkit-perspective: 600px;
            perspective: 600px;
    pointer-events: none;
    visibility: hidden;
  }
  .present-box .present > .img-wrap {
    width: 200px;
    align-self: center;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    opacity: 0;
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
  }
  .present-box .present > .img-wrap a {
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    position: relative;
    display: block;
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
  .img-wrap img:hover {
    transition: transform 300ms;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .present-box .present > .img-wrap img {
    max-width: 100%;
    height: auto;
  }
  
  .present-box > .side {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    background: repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #DFB98A 20px, #fff 40px);
    top: 0;
    left: 0;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .present-box > .side.back {
    -webkit-transform: translateZ(-100px) rotateY(180deg);
            transform: translateZ(-100px) rotateY(180deg);
  }
  .present-box > .side.right {
    -webkit-transform: rotateY(-270deg) translateX(100px);
            transform: rotateY(-270deg) translateX(100px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  .present-box > .side.left {
    -webkit-transform: rotateY(270deg) translateX(-100px);
            transform: rotateY(270deg) translateX(-100px);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  .present-box > .side.top {
    -webkit-transform: rotateX(-90deg) translateY(-100px);
            transform: rotateX(-90deg) translateY(-100px);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 100px;
            perspective: 100px;
    text-align: center;
  }
  .present-box > .side.top .to {
    display: inline-block;
    font-family: cursive;
    position: relative;
    padding: 10px 10px 30px 10px;
    border: 5px dotted #ff6666;
    border-width: 2px;
    background: #DFB98A;
    margin: auto;
    -webkit-transform: translateZ(-2px) translateY(50px);
            transform: translateZ(-2px) translateY(50px);
  }
  .present-box > .side.top .to:after {
    content: 'Merry Christmas';
    display: inline-block;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    color: #990000;
  }
  .present-box > .side.top .to .name {
    display: block;
    position: absolute;
    -webkit-transform: translateY(20px) rotateY(180deg) translateX(10px);
            transform: translateY(20px) rotateY(180deg) translateX(10px);
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    color: green;
  }
  .present-box > .side.bottom {
    -webkit-transform: rotateX(90deg) translateY(100px);
            transform: rotateX(90deg) translateY(100px);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .present-box > .side.front {
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotateY(-360deg) rotateX(180deg);
              transform: rotateY(-360deg) rotateX(180deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotateY(-360deg) rotateX(180deg);
              transform: rotateY(-360deg) rotateX(180deg);
    }
  }
  @-webkit-keyframes staticFront {
    100% {
      -webkit-transform: rotateX(-100deg) rotateY(-180deg);
              transform: rotateX(-100deg) rotateY(-180deg);
    }
  }
  @keyframes staticFront {
    100% {
      -webkit-transform: rotateX(-100deg) rotateY(-180deg);
              transform: rotateX(-100deg) rotateY(-180deg);
    }
  }
  @-webkit-keyframes zoomIn {
    50% {
      -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
              transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
    }
    100% {
      -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
              transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
    }
  }
  @keyframes zoomIn {
    50% {
      -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
              transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
    }
    100% {
      -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
              transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
    }
  }






  /* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }


  #snow-footer{
      z-index: -1;
      height: 90px;
      overflow: hidden;
      margin-top: -90px;
      background-image: url("../img/footer3.png");
      background-repeat: repeat-x;
      background-size: 40em;
  }















